@import './_colors.scss';
@import './_mixins.scss';

//atoms
@import './atoms/_button.scss';
@import './atoms/_card.scss';
@import './atoms/_input.scss';

//molecules

//organisms

//template
@import './template/_login.scss';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}