.hba-t-login {
    @include flex-center;

    &__title {
        color: $grey;
        font-size: 28px; 
        font-weight: 500;
        margin-bottom: 45px;

        strong {
            color: $primary;
            font-weight: 900;
        }  
    }
    
    &__mailInput {
        margin-bottom: 40px;
    }

    &__passwordInput {
        margin-bottom: 40px;
    }

    &__registerLink {
        text-decoration: underline;
        font-size: 12px;
        color: $primary;
        cursor: pointer;
        margin-top: 25px;
    }
}