.hba-o-profile {
    margin: 50px;
    border-radius: 999px;
    flex-direction: row;
    padding: 20px;

    &__infos {
        display: flex;
        flex-direction: column;

        .hba-a-field:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}